# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# pipelines' results & samples
pipelines/

# env
food_env/
# Temporary menu files
data/menus/*.json
data/menu.json

# Executables
main/meal_tracker

main/debug.log
unused_test_files/

.venv/
.vscode/
